<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Beautiful Burger</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/assets/style/reset.css">
		<link rel="stylesheet" href="/assets/style/style.css">
	</head>
	<body>
		<div id="pageWrapper">
			<h1>Beautiful Burgers</h1>
			<h2>~ Good for You - Bad for the Burger ~</h2>
			<img id='heroImg' src="/assets/images/burger.gif" alt="A Delicious Burger">
			{{{ body }}}
		</div>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/scripts/scripts.js"></script>
	</body>
</html>
