body {
	font-family: 'Roboto Slab', serif;
}

h1 {
	font-size: 6em;
	font-family: 'Lobster', cursive;
	color: #568ab8;
}

h2 {
	font-size: 2em;
	margin-top: -.125em;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.5em;
	font-family: 'Lobster', cursive;;
	padding-bottom: .5em;
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}



form {
	display: flex;
	flex-direction: row;
	justify-self: center;
	align-items: center;
}

#pageWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-image: url('../images/Burger.gif');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 80px;
	background-size: 500px;
}

#heroImg {
	width: 600px;
}
#listsWrapper {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #568ab8cc;
	padding: 1.5em;
	width: 60%;
	border-radius: .5em;
	min-height: 250px;
	margin-bottom: 2em;
}

.uneatenRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: right;
	width: 100%;

}

.eatenRow {
	color: black;
	text-align: center;
}

.textWhite {
	color: white;
}

.eatBtn {
	background-color: red;
	color: white;
	font-weight: 700;
	font-size: .75em;
	/* font-size: .5em; */
	border-radius: 50%;
	border: none;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: .25em;
	margin-left: .75em;
}

#userInput {
	display: flex;
	align-items: center;
	font-size: 2em;
	width: 300px;
	height: 75px;
	padding: 1em;
	margin: .5em;
	text-align: center;
	border-radius: .5em;
	border: 4px solid #568ab8;
	background-color: #fff6f4;
}

#submitBtn {
	width: 130px;
	height: 130px;
	background-color: red;
	color: white;
	/* margin: auto; */
	text-align: center;
	border: none;
	border-radius: 50%;
	/* display: block; */
	font-size: 1.5em;
	padding: 1em;
	margin: .5em;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}