<main id='listsWrapper'>
	<div class="list">
		<h3>~ Your Plate ~</h3>
		<div class="list">
				{{#each uneatenBurgers}}
					<div class='uneatenRow'>
						<div>{{this.name}}</div>
						<button class="eatBtn" name="burgerId" data-id="{{this.id}}">Eat It!</button>
					</div>
				{{/each}}
		</div>
	</div>
	<div class="list">
		<h3>~ Your Stomach ~</h3>
		<div class="list">
			<ul>
				{{#each eatenBurgers}}
					<li class='eatenRow'>
					<div>{{this.name}}</div>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</main>

<form id="submissionForm" action="/" method="POST">
	<textarea id='userInput' type="text" name="userBurger" placeholder="What are you hungary for?..."></textarea>
	<button id="submitBtn" type="submit">SERVE IT UP</button>
</form>
<H4> Feeling Full? <button id='clearBtn'>Take a Nap</button> </H4>
