<main id='listsWrapper'>
	<div class="list">
		<h3>~ Your Plate ~</h3>
		<div id='uneatenBody' class="list">
			<ul>
				{{#each uneatenBurgers}}
					<li>
					<div>
						<form action="/">
							<span>{{this.name}}</span>
							<button class="eatBtn" type="submit" formmethod="POST" name="burgerId" data-id="{{this.id}}">
								Eat It!
							</button></div>
						</form>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="list">
		<h3>~ Your Stomach ~</h3>
		<div id='eatenBody' class="list">
			<ul>
				{{#each eatenBurgers}}
					<li>
					<div>{{this.name}}</div>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</main>

<form id="submissionForm" action="/" method="POST">
	<textarea id='userInput' type="text" name="userBurger" placeholder="What are you hungary for?"></textarea>
	<button id="submitBtn" type="submit">SERVE IT UP</button>
</form>
