<img src="../public/assets/images/basicBurger.png" alt="A Delicious Buger">

<h1>Beautiful Burgers</h1>
<h2>Good for You - Bad for the Burger</h2>
<div id="toBeEaten">
	<ul>
		{{#each uneatenBurgers}}
			<li>
			<p>{{this.name}}</p>
			</li>
		{{/each}}
	</ul>
</div>
<div id="eaten">
	<ul>
		{{#each eatenBurgers}}
			<li>
			<p>{{this.name}}</p>
			</li>
		{{/each}}
	</ul>
</div>

<form action="/" method="POST">
	<textarea type="text" name="userBurger"></textarea>
	<button type="submit">Submit</button>
</form>
